<footer class="bg-dark text-white py-4">
    <div class="container text-center">
        <p>&copy; 2024 P7 Group 2 FoodieFinder. All rights reserved.</p>
        <div class="social-icons">
            <a href="#" class="text-white mx-2"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="text-white mx-2"><i class="fab fa-twitter"></i></a>
            <a href="#" class="text-white mx-2"><i class="fab fa-instagram"></i></a>
        </div>
        <div class="mt-3">
            <a href="#" class="text-white mx-2">Privacy Policy</a> | <a href="#" class="text-white mx-2">Terms of Service</a>
        </div>
        <div class="newsletter mt-3">
            <p>Subscribe to our newsletter:</p>
            <form class="form-inline justify-content-center">
                <input type="email" class="form-control mr-2" placeholder="Enter your email">
                <button type="button" class="btn btn-success">Subscribe</button>
            </form>
        </div>
    </div>
</footer>